/* CSS Document */

/* root element for tabs  */
ul.tabs { 
	list-style:none; 
	margin:0 !important; 
	padding:0;	
	border-bottom:1px solid #666;	
	height:35px;
}

/* single tab */
ul.tabs li { 
	float:left;	 
	text-indent:0;
	padding:0;
	margin:0 !important;
	list-style-image:none !important; 
}

/* link inside the tab. uses a background image */
ul.tabs a { 
	background: url(../images/menu.png) no-repeat -223px 0;
	font-size:14px;
	display:block;
	height: 35px;
	line-height:35px;
	width: 155px;
	text-align:center;	
	text-decoration:none;
	color:#333;
	padding:0px;
	margin:0px;	
	position:relative;
        text-transform: uppercase;
        font-weight: bold;
	/*top:1px;*/
}

ul.tabs a:active {
	outline:none;		
}

/* when mouse enters the tab move the background image */
ul.tabs a:hover {
	background-position: -223px -73px;
	/*background-position: -223px -37px;*/
	color:#000;	
}

/* active tab uses a class name "current". its highlight is also done by moving the background image. */
ul.tabs a.current, ul.tabs a.current:hover, ul.tabs li.current a {
	background-position: -223px -37px;
	cursor:default !important; 
	color:#fff !important;
}

/* Different widths for tabs: use a class name: s, l, xl */


/* width 1 */
ul.tabs a.s 			{ background-position: -553px 0; width:81px; }
ul.tabs a.s:hover 	{ background-position: -553px -41px; }
ul.tabs a.s.current  { background-position: -553px -82px; }

/* width 2 */
ul.tabs a.l 			{ background-position: -247px -0px; width:174px; }
ul.tabs a.l:hover 	{ background-position: -247px -41px; }
ul.tabs a.l.current  { background-position: -247px -82px; }


/* width 3 */
ul.tabs a.xl 			{ background-position: 0 -0px; width:248px; }
ul.tabs a.xl:hover 	{ background-position: 0 -41px; }
ul.tabs a.xl.current { background-position: 0 -82px; }


/* initially all panes are hidden */ 
.panes .pane {
	display:none;		
}

